@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
}

.navbar{
   padding: 15px 40px;
   display: flex;
   justify-content: space-between;
}
.navbar .cart-icon{
  font-size: 30px;
  color: #1F6971;
}
.navbar .nav-logo{
  display: flex;
  gap: 10px;
}
.navbar .nav-logo h1{
  font-family: 'inter',sans-serif;
  font-size: 25px;
}
.navbar .nav-logo span{
  color: #1F6971;
}
.navbar .search-bar{
  display: flex;
  align-items: center;
  border: 1px;
  border-color: rgb(194, 194, 194);
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(241, 240, 240, 0.575);
  height: 35px;
}
.navbar .search-bar input{
  border: none;
  outline: none;
  background-color: transparent;
  width: 310px;
}
.navbar .search-bar .search-icon{
  padding: 0 8px;
  font-size: 17px;
}
.navbar .search-bar .arrow-div{
  background-color: #1F6971;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px
}
.navbar .search-bar .arrow-div .arrow-icon{
   font-size: 20px;
}
.navbar .nav-icon{
  display: flex;
  gap: 20px;
}
.navbar .nav-icon .icon{
  font-size: 22px;
}
.categories{
  background-color: #1F6971;
  padding: 13px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
.categories .links{
  display: flex;
  gap: 30px;
}
.categories button{
   background-color: transparent;
   color: white;
   border: none;
   font-size: 14px;
   letter-spacing: 1px;
   position: relative;
   padding: 0 0 8px 0;
}
.categories button::before{
  content: "";
  bottom: 0;
  position: absolute;
  background-color: white;
  width: 0px;
  height: 1.5px;
  transition: 0.3s ease;
}
.categories button:hover::before{
  width: 100%;
}
