@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
}

.navbar{
   padding: 15px 40px !important;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.navbar .cart-icon{
  font-size: 30px;
  color: #1F6971;
}
.navbar .nav-logo{
  display: flex;
  gap: 10px;
}
.navbar .nav-logo h1{
  font-family: 'inter',sans-serif;
  font-size: 25px;
}
.navbar .nav-logo span{
  color: #1F6971;
}
.navbar .search-bar{
  display: flex;
  align-items: center;
  border: 1px;
  border-color: rgb(194, 194, 194);
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(241, 240, 240, 0.575);
  height: 35px;
}
.navbar .search-bar input{
  border: none;
  outline: none;
  background-color: transparent;
  width: 310px;
}
.navbar .search-bar .search-icon{
  padding: 0 8px;
  font-size: 17px;
}
.navbar .search-bar .arrow-div{
  background-color: #1F6971;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px
}
.navbar .search-bar .arrow-div .arrow-icon{
   font-size: 20px;
}
.navbar .nav-icon{
  display: flex;
  gap: 20px;
}
.navbar .nav-icon .icon{
  font-size: 22px;
}
.categories{
  background-color: #1F6971;
  padding: 13px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
.categories .links{
  display: flex;
  gap: 30px;
}
.categories button{
   background-color: transparent;
   color: white;
   border: none;
   font-size: 14px;
   letter-spacing: 1px;
   position: relative;
   padding: 0 0 8px 0;
   cursor: pointer;
}
.categories button::before{
  content: "";
  bottom: 0;
  position: absolute;
  background-color: white;
  width: 0px;
  height: 1.5px;
  transition: 0.3s ease;
}
.categories button:hover::before{
  width: 100%;
}


/* Section --------------------- Start */

.section{
  background-color: rgb(239, 238, 238);
  padding: 20px 40px;
  display: flex;
  gap: 35px;
}
.section .left-side{
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 13px;
  border-radius: 5px;
  width: 20%;
}
.section .left-side h6{
   font-weight: 700;
   font-size: 18px;
   margin: 0 0 15px 0;
}
.section .left-side .check-categories{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.section .left-side .check-categories div label{
   display: flex;
   gap: 7px;
}
.section .left-side hr{
  margin: 18px 0 13px 0;
  
}
.section .Size .radios{
  display: flex;
  gap: 10px;
}
.section .Size label{
    border: 1px;
    border-style: solid;
    background-color: transparent;
    width: 35px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.section .colors .radios label{
   width: 22px;
   height: 22px;
   border-radius: 3px;
}
.section .colors .radios{
  display: flex;
  gap: 10px;
}
.section .price-range input{
    width: 100%;
    accent-color:#1F6971;
}

.section .price-range .low-to-high{
  display: flex;
  justify-content: space-between;
}

.center{
  width: 55%
}

.center .cart{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.center .cart .img{
  background-color: rgb(237, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 8px;
}
.center .cart .img img{
  width: 110px;
  height: 110px;
}
.center .cart .content .name{
  font-weight: 600;
  font-size: 14px;
  margin: 5px 0 0 0 ;
}
.center .cart .content .star{
  font-size: 20px;
  
}
.center .cart .content .rating{
  display: flex;
  gap: 4px;
  font-size: 15px;
}
.center .cart .content .price{
  font-weight: 700;
  margin: 0 0 4px 0;
}
.Button,
.right-side .upload-image label{
  background-color: #1F6971;
  border: none;
  color: white;
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

.right-side{
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px 13px;
  border-radius: 5px;
  width: 20%;
}
.right-side .upload-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-side .upload-image label{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side p{
   text-align: center;
   font-size: 23px;
   font-weight: 600;
}
.right-side .demo-img{
  margin: 10px 0;
  padding: 8px 0;
  border: 1.6px;
  border-style: dashed;
  border-color: rgb(216, 216, 216);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 150px;
  border-radius: 8px;
}
.right-side .demo-img img{
  position: absolute;
  top: -15%;
  transform: scale(0.8);
}
.right-side .suggest p{
  font-size: 14px;
  padding: 6px 0;
}
.suggest-img{
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.suggest-img div{
  background-color: rgb(237, 235, 235);
  border-radius: 5px;
  width: 31%;
}
.suggest-img img{
  width: 100%;
}
/* Section --------------------- End */

@media only screen and (max-width:992px){
   .navbar .search-bar input{
    width: 200px;
   }
}

@media only screen and (max-width:768px){
  .navbar .nav-icon{
    display: none;
  }
}

@media only screen and (max-width:576px){
  .navbar{
    padding: 15px 20px;
  }
  .navbar .nav-logo .cart-icon{
    font-size: 25px;
  }
  .navbar .nav-logo h1{
    font-size: 22px;
  }
  .navbar .search-bar{
    height:30px;
  }
   .navbar .search-bar input{
     width: 120px;
   }
   .navbar .search-bar .arrow-div{
     width: 30px;
   }
   .navbar .search-bar .arrow-div .arrow-icon{
    font-size: 15px;
   }
   .categories{
    padding: 25px 0 15px 0;
   }
   .categories .links div{
     width: 30%;   
     display: flex;
     justify-content: center;
   }
   .categories .links{
     flex-wrap: wrap;
     gap: 10px;
     row-gap: 10px;
   }
}

@media only screen and (max-width:425px){
   .navbar{
     flex-direction: column;
     padding: 20px 20px;
     row-gap: 20px;
   }
   .navbar .search-bar,
   .navbar .search-bar input{
     width: 100%;
   }
   
   .navbar .search-bar .arrow-div{
    width: 40px;
   }
}